<h3> Funcionário: <%= @funcionario.nome_completo %> </h3>
<%= link_to "Nova tarefa", new_funcionario_tarefa_url(@funcionario) %>

<table class="table">
  <tr>
    <th>Tarefa</th>
    <th>Descrição</th>
    <th>Status</th>
    <th>Prazo</th>
  </tr>

  <% @tarefas.each do |tarefa| %>
	  <tr>
	    <td><%= tarefa.titulo %> </td>
	    <td><%= tarefa.descricao %></td>
      <% if tarefa.status == "pendente" %>
        <td>
          <%= button_to "Iniciar", funcionario_tarefa_path(@funcionario, tarefa), class: 'btn btn-primary', method: :patch %>
        </td>
      <% elsif tarefa.status == "iniciada" %>
        <td>
          <%= button_to "Completar", funcionario_tarefa_path(@funcionario, tarefa), class: 'btn btn-success', method: :patch %>
        </td>
      <% else %>
        <td>
          <span class="label label-info">Completa!</span>
        </td>
      <% end %>

      <td><%= tarefa.prazo %> dias</td>
	</tr>
  <% end %>
</table>
